# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pycache/
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
ENV/
.venv/

# IDEs
.vscode/
.idea/
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Logs
*.log

# Qdrant / Vector DB data (if local)
qdrant_data/